body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  font-style: normal;
  font-style: normal;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12px;
}

#home{
  color: white;
  text-decoration: none;
}


h1{
  text-align: center;
}

/* Styles for projects */
.project {
  margin-bottom: 20px;
}

/* Hide content by default */
.hidden {
  display: none;
}
